{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}


  
  <head>
    <meta charset="UTF-8">
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.0/d3.min.js"></script>
    
  </head>

  <style>
    .lines {
      stroke: lightgrey;
      stroke-opacity: 0.3;
      stroke-dasharray: 2,2;
    }
    .yAxisText{
      font-size: 18px;
    }
    #fw {
      display: none;
      /* visibility: hidden; */
    }
    #ms {
      display: none;
      width:40%;
      margin:5%;
    }
    #dp {
      display: none;
    }
    #gom {
      display: none;
      width:40%;
      margin:5%;
    }
    #gom_text{
      color:red;
      font-size:20px;
      text-align: center;
    }
    #totalCostTitle{
      color:red;
      font-size:20px;
      /* padding-left: 20px; */
    }
    #totalCost{
      width: 300px;
      border: 5px solid red;
      color:red;
      padding: 10px;
      margin: 20px;
      text-align: center;
      font-size: 50px;
    }
    #smallVizContainer{
      display: flex;
      flex-direction: row;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .buttonToggle{
      border-radius: 16px;
      background-color: darkseagreen;
      color:black; /* Green */
      border: none;
      /* color: white; */
      padding: 15px 32px;
    }
    label{
      font-size: 20px;
    }
    #th_slider{
      margin:10px;
    }
    #sliderContainer{
      border-collapse:separate; 
      border-spacing:5em;
    }
    #btn_one:hover{
      transform: scale(1.1); 
    }
    #btn_two:hover{
      transform: scale(1.1); 
    }
    #btn_three:hover{
      transform: scale(1.1); 
    }
    #btn_four:hover{
      transform: scale(1.1); 
    }
  </style>
  
  <h1 align="center"> Your Food Waste Data Record</h1>
  <br />
  <p style="text-align: center;">Click on the buttons below to see the visualizations of your food waste</p>
  <br />

  <script>
    function showFoodWasteClick() {
      fetch('/food-waste-click', {
              // method: 'POST',
              // body: JSON.stringify({}),
            }).then((_res) => { showViz(1)
            });
      // console.log('test')
    }

    function showMoneyWasteClick() {
      fetch('/money-waste-click', {
              // method: 'POST',
              // body: JSON.stringify({}),
            }).then((_res) => { showViz(2)
            });
      // console.log('test')
    }

    function showDailyWasteClick() {
      fetch('/daily-waste-click', {
              // method: 'POST',
              // body: JSON.stringify({}),
            }).then((_res) => { showViz(4)
            });
      // console.log('test')
    }

    function showGOMClick() {
      fetch('/gom-click', {
              // method: 'POST',
              // body: JSON.stringify({}),
            }).then((_res) => { showViz(3)
            });
      // console.log('test')
    }
  </script>
    
  <br />
  <div align="center">
    <table>
      <tr>
        <th>
          <form method="POST">
            <input
              type="hidden"
              name="food_waste_CLICK"
              id="food_waste_CLICK"
              value="food_waste_CLICK"
            />
            <input type="hidden" name="foodwCLICK" id="foodwCLICK" value="1" />
            <button type='button' class='buttonToggle' id='btn_one'  onclick="showFoodWasteClick()">
              Total Food Waste
            </button>
          </form>
        </th>
        <th>
          <form method="POST">
            <input
              type="hidden"
              name="money_spent_CLICK"
              id="money_spent_CLICK"
              value="money_spent_CLICK"
            />
            <input type="hidden" name="monwCLICK" id="monwCLICK" value="1" />
            <!-- <button type="submit" style="visibility: hidden;" class="btn btn-secondary"> -->
              <!-- <button type="button" class="buttonToggle" id="btn_two" onclick="showViz(2)">
                Total Money Spent
              </button> -->
              <button type="button" class="buttonToggle" id="btn_two" onclick="showMoneyWasteClick()">
                Total Money Spent
              </button>
            <!-- </button> -->
          </form>
        </th>
        <th>
          <form method="POST">
            <input
              type="hidden"
              name="daily_progress_CLICK"
              id="daily_progress_CLICK"
              value="daily_progress_CLICK"
            />
            <input type="hidden" name="progCLICK" id="progCLICK" value="1" />
            <!-- <button type="submit" id ="dp-btn" style="visibility: hidden;" class="btn btn-secondary"> -->
              <button type="button" class="buttonToggle" id="btn_four" onclick="showDailyWasteClick()">
                Daily Progress
              </button>
            <!-- </button> -->
          </form>
        </th> 
        <th>
          <form method="POST">
            <input
              type="hidden"
              name="green_o_meter_CLICK"
              id="green_o_meter_CLICK"
              value="green_o_meter_CLICK"
            />
            <input type="hidden" name="gomCLICK" id="gomCLICK" value="1" />
            <!-- <button type="submit" style="visibility: hidden;" class="btn btn-secondary"> -->
              <button type="button" class="buttonToggle" id="btn_three" onclick="showGOMClick()">
                Green-O-Meter
              </button>
            <!-- </button> -->
          </form>
        </th>
      </tr>
    </table>
  </div>
  <br />

  <div id="my_dataviz">
    <div id="fw" style="" class="fw" >
      <p id="totalCostTitle">
        Total Food Waste by Category (grams)
      </p>
      <p>
        This is your accumulated total food waste for each category.
      </p>
    </div>


    <div id="smallVizContainer">
      <div id="ms">

        <p>
          <p id="totalCostTitle">
            Total Cost of Your Food Waste
          </p>
          <p>    This Cost Visualization is calculated based on the average cost 
            of each of food category. The price of food in the 'other' category is not considered.</p>
          <div id="totalCost"></div>
          <p id="totalCostTitle">
            Top 3 Food Waste Costs
          </p>
          <div id="top1"></div>
          <div id="top2"></div>
          <div id="top3"></div>
        </p>
      </div>
      <div id="gom">
        <br/>

        <p id="totalCostTitle">
          Green-O-Meter
        </p>
        <p>
          This metric is calculated based on the average amount of food waste produced in a day in the US.
          You will have a healthy plant at level 1 and a dying plant at level 4.
          
        </p>
        <p id="gom_text"></p>
      </div>
    </div>
    
    <div id="dp">
      <p id="totalCostTitle">
        Daily Food Waste Report (grams)
      </p>
      <p>
        The green horizontal line refers to the daily individual national average of food waste produced. 
      </p>
    </div>
  </div>  
  
  <form method="POST">
    <input
      type="hidden"
      name="food_waste_data"
      id="food_waste_data"
      value="food_waste_data"
    />
    <br/>
    <br/>
    <h3 style="text-align: center">Enter your Food Waste here (grams)</h3>

    <table id="sliderContainer">
      <tr>
      <th id="th_slider">
        <label for="fruit">Fruits</label>
        <input
          type="range"
          name="fruit"
          min="0"
          max="100"
          value="0"
          class="myslider"
          id="fruit"
          oninput="outputUpdate(value, 'fruit_val')"
        />
        <output for="fruit" id="fruit_val">0</output>
      </th>
      
      <th id="th_slider">
        <label for="veggies">Vegetables</label>
        <input
          type="range"
          name="veggies"
          min="0"
          max="100"
          value="0"
          class="myslider"
          id="veggies"
          oninput="outputUpdate(value, 'veggie_val')"
        />
        <output for="veggies" id="veggie_val">0</output>
      </th>
    
    <th id="th_slider">
      <label for="dairy">Dairy</label>
      <input
        type="range"
        name="dairy"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="dairy"
        oninput="outputUpdate(value, 'dairy_val')"
      />
      <output for="dairy" id="dairy_val">0</output>
    </th>

    <th id="th_slider">
      <label for="meat">Meat</label>
      <input
        type="range"
        name="meat"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="meat"
        oninput="outputUpdate(value, 'meat_val')"
      />
      <output for="meat" id="meat_val">0</output>
    </th>
    </tr>
    <tr>

    <th id="th_slider">
      <label for="poultry">Poultry</label>
      <input
        type="range"
        name="poultry"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="poultry"
        oninput="outputUpdate(value, 'poultry_val')"
      />
      <output for="poultry" id="poultry_val">0</output>
    </th>

    <th id="th_slider">
      <label for="fish_seafood">Seafood</label>
      <input
        type="range"
        name="fish_seafood"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="fish_seafood"
        oninput="outputUpdate(value, 'fish_seafood_val')"
      />
      <output for="fish_seafood" id="fish_seafood_val">0</output>
    </th>

    <th id="th_slider">
      <label for="takeout">Takeout</label>
      <input
        type="range"
        name="takeout"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="takeout"
        oninput="outputUpdate(value, 'takeout_val')"
      />
      <output for="takeout" id="takeout_val">0</output>
    </th>


    <th id="th_slider">
      <label for="other">Other</label>
      <input
        type="range"
        name="other"
        min="0"
        max="100"
        value="0"
        class="myslider"
        id="other"
        oninput="outputUpdate(value, 'other_val')"
      />
      <output for="other" id="other_val">0</output>
     </th>
    </tr>

     <!-- <button id="test"type="button" onclick="showDiv()">clickme</button> -->

  </table>

    <script>

    function showViz(int){
      console.log('clicked')

      if(int==1){
        var vis1 = document.getElementById("fw");
        var vis1_btn = document.getElementById("btn_one");
        
        if (vis1.style.display === "none") {
          vis1.style.display = "block";
          vis1_btn.style.backgroundColor ="darkgreen";
          vis1_btn.style.color ="white";
          
        } else {
          vis1.style.display = "none";
          vis1_btn.style.backgroundColor ="darkseagreen";
          vis1_btn.style.color ="black";
        }

      }if(int==2){
         
        var vis2 = document.getElementById("ms");
        var vis2_btn = document.getElementById("btn_two");

        if (vis2.style.display === "none") {
          vis2.style.display = "block";
          vis2_btn.style.backgroundColor ="darkgreen";
          vis2_btn.style.color ="white";
        } else {
          vis2.style.display = "none";
          vis2_btn.style.backgroundColor ="darkseagreen";
          vis2_btn.style.color ="black";
        }


      }if(int==3){

        var vis3 = document.getElementById("gom");
        var vis3_btn = document.getElementById("btn_three");

        if (vis3.style.display === "none") {
          vis3.style.display = "block";
          vis3_btn.style.backgroundColor ="darkgreen";
          vis3_btn.style.color ="white";
          
        } else {
          vis3.style.display = "none";
          vis3_btn.style.backgroundColor ="darkseagreen";
          vis3_btn.style.color ="black";
        }

      }
      if(int==4){

        var vis4 = document.getElementById("dp");
        var vis4_btn = document.getElementById("btn_four");

        if (vis4.style.display === "none") {
          vis4.style.display = "block";
          vis4_btn.style.backgroundColor ="darkgreen";
          vis4_btn.style.color ="white";
          
        } else {
          vis4.style.display = "none";
          vis4_btn.style.backgroundColor ="darkseagreen";
          vis4_btn.style.color ="black";
        }

        }
      
    }


    // set the dimensions and margins of the graph
    var margin = { top: 20, right: 30, bottom: 40, left: 90 },
        width = 1060 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;
    
    // establish gridline basics
    let xScale = d3.scaleLinear()
            .domain([0, 3000]).range([0,width]);
    
    
    function vizThree() {
      console.log('three');
      var svg3 = d3
      .select("#fw")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    }
    
    // append the svg object to the body of the page
      var svg = d3
      .select("#fw")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    

    //import data
    function get_data() {
      fetch("/user-data")
       .then((data) => data.json())
       .then((user) => { 
         var data=user;



        // Add X axis
        var x = d3.scaleLinear().domain([0, 3000]).range([0, width]);

        svg
          .append("g")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x))
          .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end");
        
        // create gridlines
        let bottomGridlines = d3.axisBottom(xScale)
                                .tickFormat('').tickSize(height);

        svg.append('g')
              .attr('class', 'lines')
              .attr('transform', `translate(${0}, ${0})`)
              .call(bottomGridlines);
  
        // parseData
        var totalFruit=0; 
        var totalVegetable=0;
        var totalDairy=0;
        var totalMeat=0;
        var totalPoultry=0;
        var totalSeafood=0;
        var totalTakeout=0;
        var totalOther=0;


        var myObject = [{
              "name":"Fruit",
              "value":totalFruit,
            },
            {
              "name":"Vegetable",
              "value":totalVegetable,
            },
            // {
            //   "name":"Milk",
            //   "value":totalMilk,
            // },
            {
              "name":"Dairy",
              "value":totalDairy,
            },
            {
              "name":"Meat",
              "value":totalMeat,
            },
            {
              "name":"Poultry",
              "value":totalPoultry,
            },
            {
              "name":"Seafood",
              "value":totalSeafood,
            },
            {
              "name":"Takeout",
              "value":totalTakeout,
            },
            {
              "name":"Other",
              "value":totalOther,
            }]


         // create scale
         var y = d3.scaleBand()
                      .range([ 0, height ])
                      .domain(myObject.map(function(d) { return d.name; }))
                      .padding(.1);

        svg.append("g")
           .call(d3.axisLeft(y))
           .selectAll("text")
           .attr("class","yAxisText")


        var yAxis = [
          "Fruits",
          "Vegetables",
          "Dairy",
          "Meat",
          "Poultry",
          "Seafood",
          "Takeout",
          "Other",
        ];


        data.forEach(function(d) {

            // getting total values of data
            totalFruit += d.fruit || 0;
            totalVegetable += d.veggies|| 0;
            totalDairy += d.dairy|| 0;
            totalMeat += d.meat|| 0;
            totalPoultry += d.poultry|| 0;
            totalSeafood += d.fish_seafood|| 0;
            totalTakeout += d.takeout|| 0;
            totalOther += d.other|| 0;



        var myObject = [{
              "name":"Fruit",
              "value":totalFruit,
            },
            {
              "name":"Vegetable",
              "value":totalVegetable,
            },
            {
              "name":"Dairy",
              "value":totalDairy,
            },
            {
              "name":"Meat",
              "value":totalMeat,
            },
            {
              "name":"Poultry",
              "value":totalPoultry,
            },
            {
              "name":"Seafood",
              "value":totalSeafood,
            },
            {
              "name":"Takeout",
              "value":totalTakeout,
            },
            {
              "name":"Other",
              "value":totalOther,
            }]

          
            // x scales
            var x = d3.scaleLinear()
                      .domain([0, 3000])
                      .range([ 0, width]);

            //append rects
            svg.selectAll("myRect")
                .data(myObject)
                .enter()
                .append("rect")
                .attr("x", x(0) )
                .attr("y", function(d) { return y(d.name)+11 ; })
                .attr("width", function(d) {  return x(d.value); })
                .attr("height", 30 )
                .attr("fill", "pink")

        });




        // Total Cost Visualization

        // cost Variables
        var totalFruitCost=0; 
        var totalVegetableCost=0;
        var totalDairyCost=0;
        var totalMeatCost=0;
        var totalPoultryCost=0;
        var totalSeafoodCost=0;
        var totalTakeoutCost=0;
        var totalOtherCost=0;
        var totalCost=0;
        

        // calculate total cost
        data.forEach(function(d) {

          // getting total values of data
          totalFruitCost += d.fruit * 0.00156528333 || 0;
          totalVegetableCost += d.veggies * 0.00141095962|| 0;
          totalDairyCost += d.dairy *  0.00524759596 || 0;
          totalMeatCost += d.meat * 0.01212543431|| 0;
          totalPoultryCost += d.poultry * 0.00551146384 || 0;
          totalSeafoodCost += d.fish_seafood * 0.02204585537|| 0;
          totalTakeoutCost += d.takeout * 0.026 || 0;


          var myObjectCost = [{
              "name":"Fruit",
              "value":totalFruitCost,
            },
            {
              "name":"Vegetable",
              "value":totalVegetableCost,
            },
            {
              "name":"Dairy",
              "value":totalDairyCost,
            },
            {
              "name":"Meat",
              "value":totalMeatCost,
            },
            {
              "name":"Poultry",
              "value":totalPoultryCost,
            },
            {
              "name":"Seafood",
              "value":totalSeafoodCost,
            },
            {
              "name":"Takeout",
              "value":totalTakeoutCost,
            }]


          totalCost=myObjectCost.reduce((total, obj) => obj.value + total,0)

        
        // display total cost
        var svg2total = d3.select("#totalCost")
                          .append("text")
                          .text(totalCost.toFixed(2));

        d3.select("#totalCost").text('$ '+totalCost.toFixed(2));


        var result = Object.values(myObjectCost)
                          .sort((a, b) => a.value - b.value);
        
        let topPrice = result[6]
        let top2Price = result[5]
        let top3Price = result[4]


        // display top 3 values
        // top 1
        var svg2total3 = d3.select("#top1")
                            .append("text")
                            .text(topPrice.name , ':' , topPrice.value.toFixed(2));

        d3.select("#top1").text(topPrice.name + ' :  '+'$ '+topPrice.value.toFixed(2));
        
        // top 2
        var svg2total3 = d3.select("#top2")
                            .append("text")
                            .text(top2Price.name , ':' , top2Price.value.toFixed(2));

        d3.select("#top2").text(top2Price.name + ' :  '+'$ '+top2Price.value.toFixed(2));

        // top 3
        var svg2total3 = d3.select("#top3")
                            .append("text")
                            .text(top3Price.name , ':' , top3Price.value.toFixed(2));

        d3.select("#top3").text(top3Price.name + ' :  '+'$ '+top3Price.value.toFixed(2));

        });


        // create green o meter

        // calculate total waste
        var totalFruit=0; 
        var totalVegetable=0;
        var totalDairy=0;
        var totalMeat=0;
        var totalPoultry=0;
        var totalSeafood=0;
        var totalTakeout=0;
        var totalOther=0;
        var totalWaste=0;
        var date;

        // calculate total Waste
        data.forEach(function(d) {

          date= d.js_date;
          date=new Date(date*1000).getDate()
         

          // getting total values of data
          totalFruit += d.fruit || 0;
          totalVegetable += d.veggies|| 0;
          totalDairy += d.dairy|| 0;
          totalMeat += d.meat|| 0;
          totalPoultry += d.poultry|| 0;
          totalSeafood += d.fish_seafood|| 0;
          totalTakeout += d.takeout|| 0;
          totalOther += d.other|| 0;
        })
        console.log(date);


        var myObjectGreen = [{
              "name":"Fruit",
              "value":totalFruit,
            },
            {
              "name":"Vegetable",
              "value":totalVegetable,
            },
            {
              "name":"Dairy",
              "value":totalDairy,
            },
            {
              "name":"Meat",
              "value":totalMeat,
            },
            {
              "name":"Poultry",
              "value":totalPoultry,
            },
            {
              "name":"Seafood",
              "value":totalSeafood,
            },
            {
              "name":"Takeout",
              "value":totalTakeout,
            }]

            totalWaste=myObjectGreen.reduce((total, obj) => obj.value + total,0)
    
            console.log('green total Waste', totalWaste)

          // hardcoded the Date!!!! documentation
            var divider= (date-16)+1

            totalWaste = totalWaste/ divider

              if(totalWaste<200){
              // greenest
              console.log('greenest');
              // show level1 image
              var img = document.createElement("img");
              // https://drive.google.com/file/d/1EHM3hEW9uRpHDDJ49naF5VbfDXRf6H2h/view?usp=sharing
              img.src = 'https://drive.google.com/uc?export=view&id=1EHM3hEW9uRpHDDJ49naF5VbfDXRf6H2h';
              console.log(img)
              document.getElementById('gom').appendChild(img);
              d3.select("#gom_text").append('text').text('Level 1');
              
            }else if(totalWaste<500){
              // 2nd level green average
              console.log('greenest2');
              var img = document.createElement("img");
              // https://drive.google.com/file/d/1HyBqFr9d5yHa4pRXMdVjiZyDGJt7i-W-/view?usp=sharing
              img.src = 'https://drive.google.com/uc?export=view&id=1HyBqFr9d5yHa4pRXMdVjiZyDGJt7i-W-';
              console.log(img)
              document.getElementById('gom').appendChild(img);
              d3.select("#gom_text").append('text').text('Level 2');

            }else if(totalWaste<900){
              // 3rd level green
              console.log('greenest3');
              var img = document.createElement("img");
              // https://drive.google.com/file/d/1SoPd_xkb94UGVnOaGShdbQf16yYGHzjI/view?usp=sharing
              img.src = 'https://drive.google.com/uc?export=view&id=1SoPd_xkb94UGVnOaGShdbQf16yYGHzjI';
              console.log(img)
              document.getElementById('gom').appendChild(img);
              d3.select("#gom_text").append('text').text('Level 3');
            }else{
              // 4th level green
              console.log('greenest4');
              var img = document.createElement("img");
              img.src = 'https://drive.google.com/uc?export=view&id=1doEYEQLZf1i93ueTRqxMFkWSEUJPN-2n';
              console.log(img)
              document.getElementById('gom').appendChild(img);
              d3.select("#gom_text").append('text').text('Level 4');
            }


            // create progress bar visualization

            // initialize svg
            var svg4 = d3.select("#dp")
                        .append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top-10 + margin.bottom+50)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


            // days of study
            xAxis=[
              '04-17-2022',
              '04-18-2022',
              '04-19-2022',
              '04-20-2022',
              '04-21-2022',
              '04-22-2022',
              '04-23-2022',
              '04-24-2022',
            ]
            // Add X axis scale
            var x_four = d3.scaleBand().range([0, width]).domain(xAxis);

            // add x axis to svg
            svg4.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x_four))
                .selectAll("text")
                .attr("class","yAxisText")
                .attr("transform", "translate(-10,0)rotate(-45)")
                .style("text-anchor", "end");


            // create y axis scale
            var y_four = d3.scaleLinear()
                          .domain([0, 1000])
                          .range([ height,0]);

            // create x axis grid 
            const yAxisGrid = d3.axisLeft(y_four).tickSize(-width).tickFormat('').ticks(10);

            svg4.append('g')
                .attr('class', 'lines')
                // .attr('class', 'y axis-grid')
                .call(yAxisGrid);

            // append y axis
            svg4.append("g")
                .call(d3.axisLeft(y_four))
                .selectAll("text")
                .attr("class","yAxisText")

            // variables
            var day17Total=0;
            var day18Total=0;
            var day19Total=0;
            var day20Total=0;
            var day21Total=0;
            var day22Total=0;
            var day23Total=0;
            var day24Total=0;

            // get data
            data.forEach(function(d){

              // get data date
              var date= d.js_date;
              date=new Date(date*1000).getDate()
              console.log(date);

              if(date==17){
                day17Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              } 
              if (date==18){
                day18Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==19){
                day19Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==20){
                day20Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==21){
                day21Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==22){
                day22Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==23){
                day23Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }
              if (date==24){
                day24Total += d.fruit || 0 +d.veggies|| 0 +d.veggies|| 0 +d.dairy|| 0 +d.meat|| 0 +d.poultry|| 0 +d.fish_seafood|| 0 + d.takeout|| 0 +d.other|| 0;
              }

              console.log('day17Total',day17Total)

            })
           
            // var dayTotals =[day17Total,day18Total,day19Total,day20Total,day21Total,day22Total,day23Total,day24Total]

            var dayTotals = [{
              "name":'04-17-2022',
              "value":day17Total,
            },
            {
              "name":'04-18-2022',
              "value":day18Total,
            },
            {
              "name":'04-19-2022',
              "value":day19Total,
            },
            {
              "name":'04-20-2022',
              "value":day20Total,
            },
            {
              "name":'04-21-2022',
              "value":day21Total,
            },
            {
              "name":'04-22-2022',
              "value":day22Total,
            },
            {
              "name":'04-23-2022',
              "value":day23Total,
            },
            {
              "name":'04-24-2022',
              "value":day24Total,
            }

          ]

            svg4.append('g')
              .selectAll("dot")
              .data(dayTotals)
              .enter()
              .append("circle")
              .attr("cx", function (d) { return x_four(d.name); } )
              .attr("cy", function (d) { return y_four(d.value); } )
              .attr("r", 5)
              .attr("transform", "translate(" + 59 + "," + 0 + ")")
              .style("fill", "#CC0000");
            
              console.log('20',day20Total)


        var line = d3.line()
                      .x(function(d) { return x_four(d.name); }) 
                      .y(function(d) { return y_four(d.value); }) 
                      .curve(d3.curveMonotoneX)

        // draw average line
        svg4.append('line')
            .style("stroke", "darkseagreen")
            .style("stroke-width", 3)
            .attr("x1", 0)
            .attr("y1", 240)
            .attr("x2",width)
            .attr("y2", 240);

        // svg4.append('text')
        //     .text('Average Food Waste Produced')
        //     .attr("x", 30)
        //     .attr("y", 220); 
                      
        svg4.append("path")
            .datum(dayTotals) 
            .attr("class", "line") 
            .attr("transform", "translate(" + 59 + "," + 0 + ")")
            .attr("d", line)
            .style("fill", "none")
            .style("stroke", "#CC0000")
            .style("stroke-width", "2");

            
      });
    }

    get_data();

      function outputUpdate(vol, id) {
      document.querySelector("#" + id).value = vol;
      }

      function deleteNote(noteId) {
          fetch("/delete-note", {
            method: "POST",
            body: JSON.stringify({ noteId: noteId }),
          }).then((_res) => {
            window.location.href = "/";
          });
        }
    </script>

    <div align="center">
      <button type="submit" class="btn btn-success">Enter Food Waste</button>
    </div>

    <br />
    <br />
    <p></p>
    <ul class="list-group list-group-flush" id="notes">
      {% for day in user.foodWaste %}
      <li class="list-group-item">
        {{ day.date.strftime("%m/%d/%Y, %H:%M:%S") }}
        &nbsp 
        Fruit: {{day.fruit}}
        &nbsp 
        Vegetable: {{day.vegetables}}
        &nbsp 
        Dairy: {{day.dairy}}
        &nbsp 
        Meat: {{day.meat}}
        &nbsp 
        Poultry: {{day.poultry}}
        &nbsp 
        Seafood: {{day.fish_seafood}}
        &nbsp 
        Takeout: {{day.takeout}}
        &nbsp 
        Other: {{day.other}}
        <!-- add more info -->
        <button type="button" class="close" onClick="deleteNote({{ day.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
  
      </li>
      {% endfor %}
    </ul>
    <br/>

  </form>
  {% endblock %}
  
  <!--  -->
  